body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    min-width: 70vh;
}

.board {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 70vh;
}

.row {
    display: flex;
    flex-direction: row;
    height: 12.5%;
}

.cell {
    width: 12.5%;
}

.board .row:nth-child(odd) .cell:nth-child(even), 
.board .row:nth-child(even) .cell:nth-child(odd) {
    background-color: black;
}


