html {
    font-size: 62.5%;
}

.boxes {
    border: 2px solid black;
    height: 80%;
    width: 80vw;
}

.box {
    height: 20vw;
    border: 2px solid black;
    margin: 10px;
    /* padding: 5x; */
    width: 20vh;
}

.box-1 {
    background-color: aqua;
    width: 30rem;
    height: 20rem;

}

.box-2 {
    
}

.box-3 {
    
}

.box-4 {
    
}